/* Master Styles  File */
/* Author: Gerrit Mulder */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.navbar_leftside {
    display: flex;
}

.navbar > .navbar_leftside > div{
    margin-right: 20px;
    font-size: 0.9em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.navbar_link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navbar_link:hover {
    border-bottom: solid black;
}

.navbar_link a:hover {
    color: black;
}

/* The home link. */
.navbar_link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.active_link {
    border-bottom: black 1px solid;
}

.active_link a {
    color: black !important;
}


/* Maybe remove this? */
.navbar > .navbar_rightside > div{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

/* The header. */
.header {
    padding-bottom: 20px;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5em;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

/* Portfolio Styles */
.portfolio_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio_item {
    position: relative;
}

.portfolio_item_image {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image_text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo img{
    position: relative;
    width: 25%;
    margin-top: 20px;
}

.image_text:hover .logo {
    transition: 1s;
    filter: opacity(0%);
}


.image_text .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.image_text:hover .subtitle {
    transition: 1s;
    font-weight: 600;
    color: lightseagreen;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.image_text .subtitle a {
    transition: 1s;
    color: transparent;
}

.image_text:hover a {
    transition: 1s;
    color: purple;
}

/* The styles for showing the date each item in the portfolio was completed. */
.image_text P { 
    transition: 1s;
    border: solid black;
    border-radius: 1em;
    padding: 2px 4px;
    box-shadow: 0 0 3pt 2pt white;
    background-color: white;
}

.image_text:hover P {
    transition: 1s;
    background-color: transparent;
    border: transparent;
    box-shadow: 0 0 3pt 2pt transparent;
    border-radius: 0em;
}

.image_text .date_completed {
    font-weight: 600;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

.image_text:hover .date_completed {
    transition: 1s;
    color: transparent;
    font-weight: 600;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

/* The style for fading the images. */
.image_fade {
    transition: 1s;
    filter: brightness(10%);
}

/* These are the styles for the project pages. */
.description P{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    /* text-align: center; */
}

.description img {
    height: 600px;
    width: 1200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* This is the style for the project code button. */
.project_code {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding-bottom: 30px;
    font-size: 1.75em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* I need to fix the button code. */
.project_code a {
    /* text-decoration: none;
    color: #8a8a8a;
    border: solid rgba(0, 0, 0, 0.904);
    border-radius: 1em;
    padding: 2px 4px; 
    transition: 1s;
    box-shadow: 0 5px 0 black; */
    background-color: red;
    border: solid black;
    border-radius: 1em;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

/* Fix this too. */
.project_code:hover a {
    /* transition: 1s;
    color: black;
    border: solid blue;
    box-shadow: 0 5px 0 blue;
    border-radius: 1em; */
    background-color: #ce0606;
}

.project_code:active a {
    box-shadow: none;
    top: 5px;
}

/* The Styles for the contact me page. */
.contact_me {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.contact_me input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.contact_me  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact_me input[type=submit]:hover {
    background-color: #45a049;
}

/* Thank you page styles. */
.T_header {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 5em;
}

.TP {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5em;
}

/* Styles for about me. */
.about_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about_me {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    margin-right: auto;
    font-size: 1.5em;
}